<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      VariaveisApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  // <h1> {{ mensagem }} </h1>

  <ion-item>
    <ion-label> Nome: </ion-label>
    <ion-input clearinput [(ngModel)]="nome"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label> Idade: </ion-label>
    <ion-input type="number" [(ngModel)]="idade"> </ion-input>
  </ion-item>

  <ion-button color="danger" expand="block" (click)="saudacao()"> Saudação </ion-button>
  <ion-button color="danger" expand="block" (click)="anoDeNascimento()"> Ano de Nascimento </ion-button>
  <br>

  <p><strong> Nome digitado: </strong> {{nome}} </p>
  <p><strong> Idade digitada: </strong> {{idade}} </p>
  <p> {{ mensagem }} </p>
  <p> {{ situacao }} </p>

  <p><strong> Ano de Nascimento: </strong> {{anoNascimento}} </p>


</ion-content>